<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Activates various annotations to be detected in bean classes -->
    <context:annotation-config />

    <context:component-scan base-package="com.hsenidmobile.recruitment"/>

    <!--serve for the static contents-->
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <!--we will be using annotation driven handler mapping-->
    <!--<mvc:annotation-driven validator="validator"/>-->
    <mvc:annotation-driven />

    <!-- Factory bean that creates the file upload -->


    <!-- Factory bean that creates the file upload end -->


    <!-- Factory bean that creates the Mongo instance -->
    <bean id="mongoDbFactoryBean" class="org.springframework.data.mongodb.core.MongoFactoryBean">
        <property name="host" value="localhost" />
    </bean>

    <!-- MongoTemplate for connecting and quering the documents in the database -->
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongo" ref="mongoDbFactoryBean" />
        <constructor-arg name="databaseName" value="recruitment_manager" />
    </bean>

    <!--localization and internationalization starts here -->

    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:messages" />
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>


    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" >
        <property name="defaultLocale" value="en"/>
    </bean>

    <mvc:interceptors>
        <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="language" />
        </bean>
    </mvc:interceptors>

    <!--localization and internationalization ends here-->

    <!--google oauth configuration details -->
    <bean id="googleOAuthConfig" class="com.hms.oauth.config.OAuthConfiguration">
        <property name="applicationId" value="669970197155-7lhlm9iu7vgdv7dniif2kqs18ts5bt0h.apps.googleusercontent.com"/>
        <property name="applicationSecret" value="C05Nugr_LKdwrq8-K2bZd7tK"/>
        <property name="redirectUrl" value="http://localhost:8080/recruitment-admin/user/auth/google"/>
        <property name="scope" value="https://www.googleapis.com/auth/userinfo#email"/>
    </bean>


    <!--email sender bean declarations starts -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="abanstest@gmail.com" />
        <property name="password" value="abanstest123" />

        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtp.debug">true</prop>
            </props>
        </property>
    </bean>


    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </value>
        </property>
    </bean>

    <!--email sender bean declarations ends-->

</beans>

